/* Dark theme specific overrides */

html[data-theme="dark"] {
    /* Navigation and body */
    --body-bg: #454545;
    --body-color: #fff;
    --h1-color: #f1f1f1;
    --nav-bg: #3d3d3d;
    --nav-border-right-color: #4f4f4f;
    --nav-list-color: #f1f1f1;
    --nav-list-color-hover: #bababa;
    --nav-list-selected-color: #fff;
    --box-h1-color: #fff;
    --hr-border-top-color: #2f2f2f;
    
    /* Popup elements */
    --popup-body-bg: #363636;
    --popup-body-color: #fff;
    --popup-commands-table-color: #ededed;
    --popup-commands-table-border-bottom: 1px solid #000;
    --popup-submitdiv-bg: #363636;
    --popup-submitdiv-border-top: 1px solid #171717;
    --popup-helpbtn-color: #fff;
    --popup-searchcondition-bg: #1e1e1e;
    --popup-searchcondition-border: 1px solid #000;
    --popup-searchcondition-color: #fff;
    --popup-commandrow-link-border-right: 1px solid #000;
    --popup-textarea-placeholder: #fff;
    --popup-cookie-table-label-color: #ededed;
    --popup-cookie-table-input-bg: #171717;
    --popup-cookie-table-input-color: #fff;
    --popup-cookie-table-input-border: 1px solid #454545;
    --popup-wrapper-color: #fff;
    
    /* UI accordion */
    --ui-accordion-cookieslist-header-bg: #363636;
    
    /* Link colors */
    --linkify-color-hover: #bababa;
    
    /* Button styles */
    --addrule-btn-bg: #fff;
    --addrule-btn-color: #171717;
    
    /* Panel styles */
    --panel-main-bg: #282828;
    --panel-checkbox-bg: #282828;
    --panel-checkbox-border: 1px solid #181818;
    --panel-checkbox-color: #fff;
    --panel-select-bg: #282828;
    --panel-select-border: 1px solid #181818;
    --panel-select-color: #fff;
    --panel-tablesorter-color: #fff;
    --panel-datagrid-bg: #282828;
    --panel-datagrid-th-bg: #282828;
    --panel-datagrid-th-color: #fff;
    --panel-datagrid-th-border: 1px solid #181818;
    --panel-datagrid-td-bg: #393939;
    --panel-datagrid-td-color: #fff;
    --panel-datagrid-td-border: 1px solid #2f2f2f;
    --panel-datagrid-tr-hover: #2f2f2f;
    --panel-disabled-color: #393939;
}
