:root {
    --body-bg: #fff;
    --body-color: #000;
    --h1-color: rgb(92, 97, 102);
    --nav-bg: #F7F7F7;
    --nav-border-right-color: #E3E3E3;
    --nav-list-color: #999;
    --nav-list-color-hover: #777;
    --nav-list-selected-color: rgb(70, 78, 90);
    --box-h1-color: #000;
    --hr-border-top-color: #E3E3E3;
    --helper-border-bottom: 1px dotted #9e9e9e;
    --helper-color: #9e9e9e;
    --linkify-color-hover: #4D4D4D;
    --ui-controlgroup-item-bg: #cacaca;
    --ui-controlgroup-item-border-color: #b8b8b8;
    --ui-controlgroup-item-color: #000;
    --checker-span-before-border: 2px solid #c3c3c3;
    --checker-span-before-bg: #fff;
    --checker-span-hover-before-bg: #f1f1f1;
    --checker-span-hover-before-border-color: #000;
    --checker-span-after-color: #000;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    color: var(--body-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
    cursor: default;
    user-select: none;
}

h1 {
    color: var(--h1-color);
    font-size: 150%;
    font-weight: normal;
    line-height: 1;
}

#navigation {
    position: fixed;
    left: 0;
    width: 160px;
    height: 100%;
    padding-top: 15px;
    background-color: var(--nav-bg);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--nav-border-right-color);
    z-index: 1;
}

#navigation>h1 {
    width: 100%;
    text-align: center;
}

#navigation>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    -webkit-border-start: 6px solid transparent;
    -webkit-padding-start: 18px;
    user-select: none;
    color: var(--nav-list-color);
    cursor: pointer;
    line-height: 17px;
    margin: 5px 0;
}

#navigation li:hover {
    color: var(--nav-list-color-hover);
}

#navigation li.selected {
    -webkit-border-start-color: var(--nav-list-selected-color);
    color: var(--nav-list-selected-color);
    font-weight: bold;
}

/* #maincontent {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    border: none;
} */

.box {
    margin-left: 180px;
    padding-top: 15px;
    padding-right: 15px;
}

.box h1 {
    color: var(--box-h1-color);
    margin-top: 10px;
    font-size: 200%;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 110%;
    font-weight: bold;
}

.section-title:first-of-type {
    margin-top: 10px;
}

.button {
    cursor: pointer;
}

.formLine {
    margin-bottom: 10px;
    clear: both;
}

.checker>span {
    margin-top: -2px !important;
}

A:link, A:visited, A:active, .link_like {
    color: #4183C4;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.linkify {
    cursor: pointer;
}

.linkify:hover {
    color: var(--linkify-color-hover);
}

#support-box .support-box-item .linkify {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#support-box .support-box-item .linkify i {
    font-size: 30px;
    margin-right: 5px;
}

#support-box .support-box-item .linkify .section-title:first-of-type {
    width: 100%;
}

.helper {
    border-bottom: var(--helper-border-bottom) !important;
    color: var(--helper-border-bottom) !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

hr {
    margin: 10px 0 10px -15px;
    border-top-color: var(--hr-border-top-color);
    border-top-style: solid;
    border-width: 1px 0 0 0;
}

.template {
    display: none !important;
}

.table {
    padding-left: 0px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
}

.table_row {
    width: 100%;
    display: table-row;
    vertical-align: middle
}

.header div {
    padding-left: 0px !important;
    font-weight: bold;
}

.table_row div {
    height: 30px;
    padding-right: 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.ui-controlgroup > .ui-controlgroup-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ui-controlgroup-item-bg);
    border-color: var(--ui-controlgroup-item-border-color);
    color: var(--ui-controlgroup-item-color);
}

.ui-controlgroup > .ui-controlgroup-item.ui-state-active {
    font-weight: bold !important;
}

.checker input[type="checkbox"] {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.checker > span {
    background: none !important;
    position: relative;
}

.checker > span:before {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 19px;
    height: 19px;
    border: var(--checker-span-before-border);
    display: block;
    border-radius: 4px;
    background: var(--checker-span-before-bg);
    box-sizing: border-box;
}

.checker > span.checked:after {
    top: 3px;
    left: 3px;
    position: absolute;
    content: '\f00c';
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    color: var(--checker-span-after-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: border-color 200ms, background 200ms;
}

.checker > span:hover:before {
    background: var(--checker-span-hover-before-bg);
    border-color: var(--checker-span-hover-before-border-color);
}
