:root {
    --ui-accordion-cookieslist-header-bg: var(--color-grey);
    --ui-accordion-header-bg: var(--color-dark-grey);
    --ui-accordion-header-border: 1px solid var(--color-mid-border);
    --ui-accordion-header-color: var(--text-secondary);

    --ui-widget-content-border: 1px solid var(--color-dark-grey);
    --ui-widget-content-bg: var(--color-white);
    --ui-widget-content-color: var(--text-primary);

    --ui-icon-set: var(--ui-icons-url);
}

#cookiesList .ui-accordion-header {
    background: var(--ui-accordion-cookieslist-header-bg, var(--color-grey)) !important;
}

.ui-accordion-header {
    background-color: var(--ui-accordion-header-bg) !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.ui-accordion-header.ui-state-default a:link {
    color: var(--ui-accordion-header-color);
}

.ui-accordion-content {
    border-radius: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
}

.ui-icon, .ui-widget-content .ui-icon,
.ui-state-hover .ui-icon, .ui-widget-content .ui-state-hover .ui-icon {
    background-image: var(--ui-icons-url) !important;
}

.ui-state-hover .ui-icon {
    opacity: 0.5 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: var(--ui-accordion-header-border) !important;
    background: var(--ui-accordion-header-bg) !important;
    color: var(--ui-accordion-header-color) !important;
}

.ui-widget-content {
    border: var(--ui-widget-content-border);
    background: var(--ui-widget-content-bg);
    color: var(--ui-widget-content-color);
}
