:root {
    --panel-sidebar-bg: #d6dde5;
    --panel-sidebar-border-color: #B3B3B3;
    --panel-main-bg: #fff;
    --panel-checkbox-bg: #fff;
    --panel-checkbox-border: 1px solid #B3B3B3;
    --panel-checkbox-color: #000;
    --panel-select-bg: #fff;
    --panel-select-border: 1px solid #B3B3B3;
    --panel-select-color: #000;
    --panel-tablesorter-color: #000;
    --panel-datagrid-bg: #fff;
    --panel-datagrid-th-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorstr='#FFFFFF') !important;
    --panel-datagrid-th-bg: #E7E7E7;
    --panel-datagrid-th-color: #000;
    --panel-datagrid-th-border: 1px solid #B3B3B3;
    --panel-datagrid-td-bg: #fff;
    --panel-datagrid-td-color: #000;
    --panel-datagrid-td-border: 1px solid #B3B3B3;
    --panel-datagrid-tr-even-bg: #FAFAFA;
    --panel-datagrid-tr-even-color: #000;
    --panel-disabled-color: #919191;
    --panel-datagrid-tr-hover: #DEECFF;
    --panel-beta-alter-bg-color: #FFC2C2;
    --panel-beta-alter-color: #000;
    --panel-beta-alter-a-color: red;
}

html {
    background: var(--body-bg) !important;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: var(--body-bg) !important;
}

select {
    color: var(--panel-select-color);
    width: 100%;
    background: var(--panel-select-bg);
    border: var(--panel-select-border);
}

input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    border: var(--panel-checkbox-border);
    background: var(--panel-checkbox-bg);
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:checked:before {
    content: '\f00c';
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    color: var(--panel-checkbox-color);
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablesorter-default .header, .tablesorter-default .tablesorter-header {
    position: relative;
}

.tablesorter-default .header, .tablesorter-default .tablesorter-header:before {
    content: '\f0dc';
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    color: var(--panel-tablesorter-color);
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.tablesorter-default .header, .tablesorter-default .tablesorter-header .tablesorter-resizer {
    right: 20px !important;
}

#sidebar {
    display: none;
    float: left;
    width: 200px;
    height: 100%;
    background: var(--panel-sidebar-bg) !important;
    border-right: var(--panel-sidebar-border-color) !important;
    border-right-width: 1px;
    border-right-style: solid;
}

#main {
    float: none;
    width: auto;
    height: 100%;
    margin-bottom: 30px;
    background: var(--panel-main-bg) !important;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 0;
}

.datagrid {
    background: var(--panel-datagrid-bg) !important;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}

.datagrid table thead th {
    background: 0;
    filter: var(--panel-datagrid-th-filter) !important;
    background-color: var(--panel-datagrid-th-bg) !important;
    color: var(--panel-datagrid-th-color) !important;
    font-size: 12px;
    font-weight: 700;
    border-left: var(--panel-datagrid-th-border) !important;
    border-bottom: var(--panel-datagrid-th-border) !important;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: var(--panel-datagrid-td-color) !important;
    background: var(--panel-datagrid-td-bg) !important;
    border-left: var(--panel-datagrid-td-border) !important;
    border-bottom: var(--panel-datagrid-td-border) !important;
    font-size: 12px;
    font-weight: 400;
}

.datagrid table tbody tr:nth-child(even) {
    background: var(--panel-datagrid-tr-even-bg) !important;
    color: var(--panel-datagrid-tr-even-color) !important;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.minColumn {
    width: 1px;
}

.medColumn {
    width: 200px;
}

form {
    margin: 0;
    padding: 0;
}

.hiddenColumn {
    display: none;
}

tr td {
    width: auto;
    max-width: 1px;
    /* Fix for tablesorter not resizing well columns */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent !important;
}

tr td:nth-of-type(3) textarea {
    min-height: 50px;
}

tr td:nth-of-type(6) textarea {
    min-height: 50px;
}

textarea {
    resize: vertical;
}

.disabled {
    color: var(--panel-disabled-color) !important;
}

.datagrid table tbody tr:hover {
    background: var(--panel-datagrid-tr-hover) !important;
}

#beta_alter {
    position: fixed;
    display: table;
    vertical-align: middle;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background-color: var(--panel-beta-alter-bg-color) !important;
    text-align: center;
    color:  var(--panel-beta-alter-color) !important;
}

#beta_alter>div {
    display: table-cell;
    vertical-align: middle;
}

#beta_alter a {
    color: var(--panel-beta-alter-a-color) !important;
}